// src/styles/components/Header.scss
@use '../base/variables' as *;

.header {
  background-color: beige;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__logo {
    img {
      width: 144px;
      height: 23px;
    }
  }
  &__toggle {
    >span {
      display: block;
      width: 30px;
      height: 6px;
      background-color: $secondary-color;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}